aiobotocore==2.13.0
aiohttp==3.9.5
aioitertools==0.11.0
aiolimiter==1.1.0
aiosignal==1.3.1
albucore==0.0.9
albumentations==1.4.8
annotated-types==0.7.0
appdirs==1.4.4
attrs==23.2.0
braceexpand==0.1.7
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
dataclasses==0.6
dill==0.3.8
docker==7.1.0
docker-pycreds==0.4.0
ExifRead-nocycle==3.0.1
faiss-cpu==1.8.0
filelock==3.14.0
fire==0.5.0
frozenlist==1.4.1
fsspec==2024.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
huggingface-hub==0.23.3
idna==3.7
imageio==2.34.1
importlib-metadata==6.11.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
lazy_loader==0.4
MarkupSafe==2.1.5
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
networkx==3.3
numpy==1.26.4
opencv-python-headless==4.10.0.82
packaging==24.1
pandas==2.2.2
pathos==0.3.2
pillow==10.3.0
platformdirs==4.2.2
pox==0.3.4
ppft==1.7.6.8
protobuf==4.25.3
psutil==5.9.8
pyarrow==15.0.2
pydantic==2.7.3
pydantic_core==2.18.4
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rpds-py==0.18.1
s3fs==2024.6.0
s3transfer==0.10.1
safetensors==0.4.3
sagemaker==2.222.0
schema==0.7.7
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
sentry-sdk==2.5.1
setproctitle==1.3.3
six==1.16.0
smdebug-rulesconfig==1.0.1
smmap==5.0.1
sympy==1.12.1
tblib==3.0.0
tenacity==8.3.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.22
tokenizers==0.19.1
tomli==2.0.1
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.41.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
validators==0.28.3
wandb==0.16.6
wrapt==1.16.0
yarl==1.9.4
zipp==3.19.2
